<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="zipFilePath" value="D:\小法克\Verdicts"/>
    <add key="jsonFilePath" value="D:\小法克\Processing Data"/>
    <add key="csvFilePath" value="D:\小法克\CSV Export"/>
    <!--<add key="jsonFilePath" value="D:\Law hackathon\最高法院"/>
    <add key="csvFilePath" value="D:\Law hackathon\CSV Export"/>-->
    <add key="limitRowCount" value="10000"/>
  </appSettings>
</configuration>