<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="zipFilePath" value="D:\小法克\Verdicts"/>
    <add key="jsonFilePath" value="D:\小法克\Processing Data"/>
    <add key="csvFilePath" value="D:\小法克\CSV Export"/>
    <!--<add key="zipFilePath" value="D:\Law hackathon\Verdicts"/>
    <add key="jsonFilePath" value="D:\Law hackathon\Processing Data"/>
    <add key="csvFilePath" value="D:\Law hackathon\CSV Export"/>-->
    <add key="limitRowCount" value="10000"/>
    <add key="create" value="http://35.234.24.135:3200/casigo/account/create"/>
    <add key="mutiCreate" value="http://35.234.24.135:3200/casigo/account/multicreate"/>
    <add key="delete" value="http://35.234.24.135:3200/casigo/account/delete"/>
    <add key="multipleRowNumber" value="5"/>
  </appSettings>
</configuration>